<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugModeState</key>
	<string>$(DEBUG_MODE_STATE)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Effra-Bold.ttf</string>
		<string>Effra-BoldItalic.ttf</string>
		<string>Effra-Italic.ttf</string>
		<string>Effra-Regular.ttf</string>
		<string>EffraHeavy-Italic.ttf</string>
		<string>EffraHeavy-Regular.ttf</string>
		<string>EffraLight-Italic.ttf</string>
		<string>EffraLight-Regular.ttf</string>
		<string>EffraMedium-Italic.ttf</string>
		<string>EffraMedium-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Univers.ttf</string>
		<string>UniveBla.ttf</string>
		<string>Univers-Oblique.ttf</string>
		<string>Univers-LightOblique.ttf</string>
		<string>Univers-Light.ttf</string>
		<string>Univers-CondensedOblique.ttf</string>
		<string>Univers-CondensedLightOblique.ttf</string>
		<string>Univers-CondensedLight.ttf</string>
		<string>Univers-CondensedBoldOblique.ttf</string>
		<string>Univers-CondensedBold.ttf</string>
		<string>Univers-Condensed.ttf</string>
		<string>Univers-BoldOblique.ttf</string>
		<string>Univers-Bold.ttf</string>
		<string>Univers-BlackOblique.ttf</string>
		<string>Univers-Black.ttf</string>
		<string>Digital-7.ttf</string>
		<string>RacingSansOne-Regular.ttf</string>
		<string>Shrikhand-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LunchScreenColor</string>
		<key>UILaunchScreen</key>
		<string></string>
	</dict>
</dict>
</plist>
